<div class="card-body w-auto">

  <h5 class="card-title">{{broma.pregunta}}</h5>
  <p class="card-text" [hidden]="broma.esconder">{{broma.respuesta}}</p>
  <button class="btn btn-primary" (click)="broma.revertir()">Haber gracioso como seria</button>
  <button class="btn btn-primary ms-3" (click)="borrarBroma(broma.pregunta, broma.respuesta)">Borrar</button>
  <button class="btn btn-primary ms-3" (click)="revertir()">Editar</button>
  <joke-form *ngIf="esconder" (bromaCreada)="editarBroma($event)"></joke-form>

</div>