<div class="card card-block w-75 p-3 mx-auto mt-3">

  <h4 class="card-title">Introducir Broma</h4>

  <form [formGroup]="jokeForm" (ngSubmit)="onSubmit()">

    <div class="form-group mt-2">

      <input type="text" class="form-control" placeholder="Introduzca la pregunta"

      formControlName="pregunta"

      [ngClass]="{ 'is-invalid': jokeForm.get('pregunta')!.invalid && jokeForm.get('pregunta')?.touched }">

      <div *ngIf="jokeForm.get('pregunta')!.invalid && jokeForm.get('pregunta')!.touched" class="invalid-feedback">
        Pregunta es requerida
      </div>

    </div>
    
    <div class="form-group mt-2">

      <input type="text" class="form-control" placeholder="Introduce la respuesta"

      formControlName="respuesta"

      [ngClass]="{ 'is-invalid': jokeForm.get('respuesta')!.invalid && jokeForm.get('respuesta')?.touched }">
      
      <div *ngIf="jokeForm.get('respuesta')!.invalid && jokeForm.get('respuesta')!.touched" class="invalid-feedback">
        Respuesta es requerida
      </div>
      
    </div>
    
    <button class="btn btn-primary mt-2" type="submit" [disabled]="!jokeForm.valid">Introducir</button>
  
  </form>

</div>
  